* {
  margin: 0px;
  padding: 0px;
}
body {
  display: grid;
  grid-template-columns: [firstline] 1fr [mainbody] 20fr [endline] 1fr [ending];
  grid-template-rows: [header] 2fr [navbar]1fr [mainbody] auto [footer] 1fr [ending];

  min-height: 100vh;
  min-width: auto;

  background-color: wheat;

  position: relative;

  font-family: "Open Sans";
}

header {
  grid-column: firstline / ending;
  grid-row: header / navbar;

  max-width: 100%;
  background-color: palevioletred;
  text-align: center;
}

header img{
  width: 50%;
}

h2 {
  font-family: "Fredoka One", cursive;
  color: purple;
}

h3 {
  font-family: "Fredoka One", cursive;
}

nav.mainNav {
  position: sticky;
  top: 0;
  grid-column: firstline / ending;
  grid-row: navbar/mainbody;
  margin-top: 1fr;
  max-width: 100%;
  height: 70%;

  overflow: hidden;
  display: flex;
  align-items: stretch;

  -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.23);
box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.23);
}

nav a {
  flex-grow: 1;

  text-align: center;
  text-decoration: none;
  padding: 0.7rem;
  background-color: powderblue;

  
}

nav a:hover {
  background-color: white;
}

.content {
  grid-column: mainbody/endline;
  grid-row: mainbody/footer;

  background-color: purple;
  font-size: 100px;
  max-width: 100%;
}

/* shopping side */
.content#shopSide {
  display: grid;
  grid-template-columns: [navigation] 1fr [clothing] 5fr [ending];
  justify-content: start;
  max-width: 100%;
}

nav.clothNav {
  grid-column: navigation / clothing;

  font-size: 1rem;

  display: inline-flex;
  flex-direction: column;
}

nav.clotNav {
  flex-grow: 0;
  background-color: thistle;
  overflow: hidden;
}

a.clothingOption {
  margin-bottom: 4px;
  flex-grow: 0;
}

.clothSide {
  grid-column: clothing / ending;
  background-color: yellowgreen;

  font-size: 5rem;
}

.clothingFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
.clothingFlex > * {

}

/*end of shop side */

footer {
  grid-row: footer/ending;
  grid-column: firstline/ending;

  max-width: 100%;
  background-color: powderblue;
}
